[Unit]
Description=Rust based headless CMS instance %i
After=network.target remote-fs.target

[Service]
Type=notify
NotifyAccess=main
WorkingDirectory=/var/lib/nur-cms/%i
ExecStart=/usr/bin/nur-cms --config /etc/nur-cms/%i.toml
Restart=always
StartLimitInterval=20
RestartSec=1
KillMode=mixed
User=%i

[Install]
WantedBy=multi-user.target
