@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'tailwindcss';
 @plugin "daisyui" {
    themes: light --default, dark --prefersdark;
 }

@plugin "daisyui/theme" {
    name: 'light';
    default: false;
    color-scheme: light;

    /* --color-primary: #e0e0e0;
    --color-primary-content: #222222;
    --color-base-content: #222222;
    --color-secondary: #c7c7c7;

    --color-base-100: #ffffff;
    --color-base-200: #f2f5f7;
    --color-base-300: #e5e6e6;
    --color-neutral: #2b3440;
    --color-neutral-focus: #343232; */
    --color-accent: oklch(0.4089 0.2269 360);
    --color-accent-content: #fff;
    --color-info: #0000ff;
    --color-success: #008000;
    --color-warning:#d87708;
    --color-error: #b90202;
    --base-100: #ffffff;
    --base-200: #f2f5f7;
    --base-300: #e5e6e6;
    --my-accent: #f28c1b;
    --my-glow: #c0c0c0;
    --my-purple: #701a75;
    --my-yellow: #bea203;
    --my-blue: #436e9c;
    --my-green: #68b31e;
}

@plugin "daisyui/theme" {
    name: 'dark';
    default: true;
    color-scheme: dark;

    /* --color-primary: #3b3b3b;
    --color-primary-content: #dfdfdf;
    --color-base-content: #dfdfdf;
    --color-secondary: #d3d3d3;

    --color-base-100: #313131;
    --color-base-200: #222222;
    --color-base-300: #1c1c1c;
    --color-neutral: #272626;
    --color-neutral-focus: #343232; */
    --color-accent: oklch(0.4089 0.2269 360);
    --color-accent-content: #fff;
    --color-info: #0000ff;
    --color-success: #01a801ff;
    --color-warning: #f28c1b;
    --color-error: #ff3c00;
    --base-100: #313131;
    --base-200: #222222;
    --base-300: #1c1c1c;
    --my-accent: #f28c1b;
    --my-glow: #5d5d5d;
    --my-purple: #ad7fa8;
    --my-yellow: #e2c317;
    --my-blue: #6c95c2;
    --my-green: #8ae234;
}

@theme {
    --font-body: 'Source Sans 3', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
    --default-font-family: 'Source Sans 3', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
}

html {
    height: 100dvh;
}

body {
    min-height: 100%;
}

#app {
    min-height: 100%;
}

.dp__input,
.file-input,
.input,
.select,
.textarea {
    &:focus,
    &:focus-within {
        --input-color: var(--my-glow);
        box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000);
        outline: 2px solid var(--input-color);
        outline-offset: 2px;
        isolation: isolate;
    }
}

.alert-info {
    @apply text-info-content border-info;
    --alert-color: var(--color-info);
}

.alert-success {
    @apply text-success-content border-success;
    --alert-color: var(--color-success);
}

.alert-warning {
    @apply text-warning-content border-warning;
    --alert-color: var(--color-warning);
}

.alert-error {
    @apply text-error-content border-error;
    --alert-color: var(--color-error);
}
