@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'vue-multiselect/dist/vue-multiselect.min.css';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: 'light';
    default: false;
    color-scheme: light;

    --color-accent: oklch(0.4089 0.2269 360);
    --color-accent-content: #fff;
    --my-glow: #c0c0c0;
}

@plugin "daisyui/theme" {
    name: 'dark';
    default: true;
    color-scheme: dark;

    --color-accent: oklch(0.4089 0.2269 360);
    --color-accent-content: #fff;
    --my-glow: #5d5d5d;
}

@theme {
    --font-body: 'Source Sans 3', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
    --default-font-family: 'Source Sans 3', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
}

html {
    height: 100dvh;
}

body {
    min-height: 100%;
}

#app {
    min-height: 100%;
}

.dp__input,
.file-input,
.input,
.select,
.textarea {
    &:focus,
    &:focus-within {
        --input-color: var(--my-glow);
        box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000);
        outline: 2px solid var(--input-color);
        outline-offset: 2px;
        isolation: isolate;
    }
}

.alert-info {
    @apply text-info-content border-info;
    --alert-color: var(--color-info);
}

.alert-success {
    @apply text-success-content border-success;
    --alert-color: var(--color-success);
}

.alert-warning {
    @apply text-warning-content border-warning;
    --alert-color: var(--color-warning);
}

.alert-error {
    @apply text-error-content border-error;
    --alert-color: var(--color-error);
}

.bg-checker {
    background: repeating-conic-gradient(var(--color-base-100) 0 90deg, var(--color-base-300) 0 180deg) 0 0/40px 40px
        round;
}

/*-----------------------------------------------------------------------------
vue-multiselect
-----------------------------------------------------------------------------*/

.multiselect .multiselect__content-wrapper {
    @apply bg-base-100 border-base-content/20 text-base-content;
}

.multiselect .multiselect__input {
    @apply bg-base-100;
}

.multiselect .multiselect__option--highlight {
    @apply bg-base-200 text-base-content/80;
}

.multiselect .multiselect__option--highlight::after {
    @apply bg-base-300 text-base-content/80;
}

.multiselect .multiselect__option--selected {
    @apply bg-base-100 text-base-content;
}

.multiselect .multiselect__tag {
    @apply bg-base-content me-0 text-base-100 text-ellipsis;
    margin-bottom: 0;
}

.multiselect .multiselect__tags {
    @apply bg-base-100 border-base-content/20 text-base-content;
     padding: 8px 40px 7px 8px;
}

.multiselect .multiselect__tags-wrap {
    @apply flex gap-0.5 flex-wrap;
}

.multiselect .multiselect__placeholder {
    @apply mb-0;
}

.multiselect--active .multiselect__tags {
    --input-color: var(--my-glow);
    box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000);
    outline: 2px solid var(--input-color);
    outline-offset: 2px;
    isolation: isolate;
    @apply flex flex-row items-center;
    padding: 7px 40px 7px 8px;
}

.multiselect__tag-icon:after {
    @apply text-base-100/60;
}

.multiselect__tags input {
    max-width: 200px !important;
    margin-bottom: 0;
}

.multiselect__tags .multiselect__single {
    @apply bg-base-100;
    margin-bottom: 0;
}
