@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'tailwindcss';
 @plugin "daisyui" {
    themes: light --default, dark --prefersdark;
 }

@plugin "daisyui/theme" {
    name: 'light';
    default: false;
    color-scheme: light;

    --color-accent: oklch(0.4089 0.2269 360);
    --color-accent-content: #fff;
}

@plugin "daisyui/theme" {
    name: 'dark';
    default: true;
    color-scheme: dark;

    --color-accent: oklch(0.4089 0.2269 360);
    --color-accent-content: #fff;
}

@theme {
    --font-body: 'Source Sans 3', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
    --default-font-family: 'Source Sans 3', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
}

html {
    height: 100dvh;
}

body {
    min-height: 100%;
}

#app {
    min-height: 100%;
}

.dp__input,
.file-input,
.input,
.select,
.textarea {
    &:focus,
    &:focus-within {
        --input-color: var(--my-glow);
        box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000);
        outline: 2px solid var(--input-color);
        outline-offset: 2px;
        isolation: isolate;
    }
}

.alert-info {
    @apply text-info-content border-info;
    --alert-color: var(--color-info);
}

.alert-success {
    @apply text-success-content border-success;
    --alert-color: var(--color-success);
}

.alert-warning {
    @apply text-warning-content border-warning;
    --alert-color: var(--color-warning);
}

.alert-error {
    @apply text-error-content border-error;
    --alert-color: var(--color-error);
}
